<nav>
  <ul>
    <li><a routerLink="/interpolation">Interpolación</a></li>
    <li><a routerLink="/one-way-data-binding">One Way Data Binding</a></li>
    <li><a routerLink="/event-data-binding">Event Data Binding</a></li>
    <li><a routerLink="/two-way-data-binding">Two Way Data Binding</a></li>
    <li><a routerLink="/mostrar-servicio">Mostrar Servicio</a></li>
    <li><a routerLink="/directivas">Directivas</a></li>
    <li><a routerLink="/origen-parametro">Origen Paso Parámetro</a></li>
    <li><a routerLink="/origen-query-param">Origen Query Param</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
